services:
  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: fastapi_user
      POSTGRES_PASSWORD: fastapi_pass
      POSTGRES_DB: fastapi_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U fastapi_user -d fastapi_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
