{% extends "base.html" %}
{% block content %}
<div class="register-container">
  <div class="form-section">
    <h1>Вход</h1>
    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}
    <form method="post" action="/login" class="card">
        <input type="text" id="login" name="login" placeholder="Логин" minlength="3" required>

        <input type="password" id="password" name="password" placeholder="Пароль" minlength="4" required>

        {% if show_2fa %}
        <!-- Показываем поле для кода только если есть 2FA -->
        <input type="text" id="code" name="code" placeholder="Код из Google Authenticator" pattern="\d{6}" style="margin-top:8px;">
        {% endif %}

        <button type="submit" class="button roboto-font">Войти</button>
    </form>
    <p class="roboto-font" style="margin-top: 15px; font-size: 0.95rem; text-align: center; font-weight: 400;">
      Нет аккаунта? <a class="roboto-font" href="/register" style="color: #FF4B2B; text-decoration: none; font-weight: 600;">Зарегистрируйтесь</a>.
    </p>
  </div>

  <div class="info-list roboto-font">
    <h2>С возвращением 😸</h2>
    <p>Рады видеть вас снова! Войдите, чтобы продолжить общение.</p>
  </div>
</div>
{% endblock %}