{% extends "base.html" %}
{% block content %}
<div class="profile-container">
  <div class="profile-content">
    <h1 class="profile-welcome roboto-font">Добро пожаловать, {{ user.identifier }}!</h1>
    <div class="profile-layout">
      <!-- Левая часть -->
      <div class="profile-left">
        {% if user.metadata_.avatar %}
        <div class="profile-avatar">
          <img src="data:image/png;base64,{{ user.metadata_.avatar }}" alt="Фото профиля">
        </div>
        {% else %}
        <div class="profile-avatar">
          <img src="{{ request.url_for('resources', path='img/base_avatar.svg') }}" alt="Фото профиля">
        </div>
        {% endif %}
        {% if editable %}
        <a href="/user/{{ user.id }}/edit" class="profile-btn roboto-font green">Редактировать профиль</a>
        <a href="/logout" class="profile-btn roboto-font red">Выйти из аккаунта</a>
        {% endif %}
      </div>
      
      <!-- Правая часть -->
      <div class="profile-right">
        <div class="profile-box">
          <p class="label-bold roboto-font">User ID:</p>
          <p class="label-normal roboto-font">{{ user.id }}</p>

          <p class="label-bold roboto-font">Роль:</p>
          <p class="label-normal roboto-font">{{ user.metadata_.role or "user" }}</p>

          <p class="label-bold roboto-font">Доп. информация:</p>
          <p class="label-normal roboto-font">
            {% for key, value in user.metadata_.items() %}
              {% if key not in ["password", "role", "avatar"] %}
                {{ key }}: {{ value }}<br>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
